@media screen and (max-width: 1280px) {
    h1 {
        font-size: 40px; 
    }
    
    h2 {
        font-size: 35px; 
    }
    h3 {
        font-size: 28px;
    }
    
}
@media screen and (max-width: 1136px) {
    .home_slider .item img {
        height: 580px;
        object-fit: cover;
    }
    .caption_info {
        margin: 10px 0;
    }
    .rating_tags {
        margin: 20px 0;
    }
    .banner_btn {
        font-size:18px;
    }
    .top_week .owl-theme .owl-nav, .video_slier .owl-theme .owl-nav {
        width: 100%;
        left: 0%;
    }
    .latest_release .row {
        min-height: 580px;
    }
    .btn {
        padding: 10px 20px 12px;
    }
    
}
@media screen and (max-width: 991px) {
    .btn {
        padding: 10px 14px 12px;
    }
    .reviws_btn li {margin-bottom: 10px;}
    .top_week .owl-theme .owl-nav, .video_slier .owl-theme .owl-nav {
        width: 116%;
        left: -8%;
    }
    .downloads {
        padding: 50px 0;
        text-align: center;
    }
    header nav ul li a {
        padding: 0px 20px;
    }
    .infos li a {
        padding: 0 0 0 15px;
    }
    body {
        font-size: 16px;
    }
    .video_slier {
        padding: 30px 0;
    }
    .n_geographic {
        margin: 60px 0 0;
        height: 300px;
    }
    footer {
        padding: 50px 0 10px;
    }
    .footer_head {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .footer_text.mt-5 {
        margin-top: 1.5rem !important;
    }
    .week_content h3 {
        font-size: 16vw;
    }
    .tab-content>.tab-pane {
        display: block;
        opacity: 1;
      }
    .users .main_User {
        width: 150px;
    }
    .users .main_User img {
        height: 150px;
    }
    .video_title {
        font-size: 28px;
    }
    .movie_banner_pic {
        flex: 0 0 330px;
        padding-right: 30px;
    }
    /* .latest_release .react-multi-carousel-track {
        padding-top: 40px;
        padding-bottom: 40px;
    } */
    .latest_release .row {
        min-height: auto;
    }
    .movie_content {
        padding: 30px 8px;
    }
    .btn.btn_samll {
        width: 123px;
    }
}
@media screen and (max-width:767px) {
    .single_reviws .text-end {
        text-align: end !important;
        padding-top: 0;
    }
    .text-end {
        text-align: center !important;
        padding-top: 15px;
    }
    footer .mt-4 {
        margin-top: 1rem !important;margin-bottom: 1rem !important;
    }
    .banner_caption {
        text-align: center;
        padding: 25px 35px;
        background: rgba(0, 0, 0, 0.45);
        border-radius: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .caption_info , .rating_tags{
        justify-content: center;
    }
    .latest_release .owl-item:hover {
        -moz-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    .latest_release .item img {
        width: 150px;
    }
    .btn.btn_samll {
        font-size: 94%;
        width: calc(100% - 58px);
    }
    .movie_content .caption_info, .movie_content .caption_info .badge {
        font-size: 82%;
    }
    .movie_content .site_text {
        font-size: 90%;
    }
    .owl-theme .owl-nav [class*="owl-"] {
        width: 40px !important;
        height: 40px !important;
        font-size: 14px !important;
        margin: 0 5px !important;
    }
    .top_week .owl-theme .owl-nav, .video_slier .owl-theme .owl-nav {
        width: 100%;
        left: 0;
    }
    .top_week .owl-item a{
        display: block;
    }
    .top_week .owl-theme .owl-nav, .video_slier .owl-theme .owl-nav {
        width: 100%;
        left: 0;
        transform: none;
        top: calc(100% + 10px);
        text-align: center;
    }
    .pt-5 {
        padding-top: 4rem !important;
    }
    .top_week .owl-carousel .owl-nav button.owl-next {
        float: none;
    }
    .video_slier .owl-nav {display: none;}
    .top_week.original {
        padding-bottom: 50px;
    }
    .tab-pane {
        padding-top: 0;
    }
    hr.mb-5 {
        margin-bottom: 1.5rem!important;
        margin-top: 1.5rem!important;
    }
    .tab_heading {
        padding-left: 40px;
        position: relative;
    }
    .tab_heading span {
        margin-right: 0;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    
}
@media screen and (max-width:736px) {
    .movie_details_Banner .col-sm-11.d-flex {
        display: flex!important;
        flex-direction: column;
        text-align: center;
    }
    .movie_banner_pic {
        flex: 0 0 330px;
        padding:0 30px;
        margin-bottom: 15px;
    }
    .latest_release .react-multi-carousel-item > div:hover {
        transform: none;
        border-color: var(--bs-light);
    }
    .latest_release .react-multi-carousel-track {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    ul.d-flex.reviws_btn.mb-5 {
        flex-wrap: wrap;
        justify-content: center;
    }
    
}
@media screen and (max-width:667px) {
    .downloads .btn {
        margin: 0 5px 10px;
    }
    .top_week a {display: block;}
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    .movie_content .caption_info, .movie_content .caption_info .badge {
        font-size: 65%;
    }
    .hamburger {
        display: inline-block;
        top: 12px;
    }
    header nav ul {
        position: fixed;
        top: 0;
        width:100%;
        height:100%;
        background: var(--theme-dark);
        overflow-x: hidden;
        overflow-y: auto;
        padding: 5%;
        right:-100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        z-index: 9;
    }
    header nav.open ul {
        right:0 !important;
    }
    header nav ul li a {
        font-size: 8vw; margin-bottom: 10px;
    }
    .joined {
        position: static;
        top: 31px;
        position: relative;
    }
    h2 {
        font-size: 28px;
    }
    .mb-4 {
        margin-bottom: 1rem!important;
    }
    .movies {
        margin-top:15px;
    }
    .users .btn {
        min-width: 126px;
    }
    .tab_heading {
        font-size: 22px;
    }
    body {
        font-size: 14px;
    }
    ul.d-flex.reviws_btn .btn {
        padding: 12px 15px;
        font-size: 12px;
    }
    
}
@media screen and (max-width:575px) {
    .footer_link {
        width:33.333%; float: left;
    }
    .cast .owl-theme .owl-nav {
        left: 0%;
        width: 100%;
        top: inherit;
        text-align: center;
    }
    .cast .owl-carousel .owl-nav button.owl-next {
        float:none;
    }
    .movie_details_Banner .caption_info {
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:480px) {
    .footer_link {
        width:50%; float: left;
    }
    .week_content h3 {
        font-size: 110px;
    }
    .p-0 {
       padding: 0 15px !important;
    }
    .movie_content .caption_info, .movie_content .caption_info .badge {
        font-size: 80%;
    }
}
@media screen and (max-width:414px) {
    .footer_link {
        width:100%; 
    }
}